body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00fff2; /* Light gray background */
}

h1 {
    text-align: center;
    color: #333; /* Dark gray heading color */
    margin-top: 20px; /* Add some space from the top */
}

label, input, button {
    display: block;
    margin: 10px auto; /* Center align */
    width: 80%; /* 80% width */
    max-width: 300px; /* Maximum width */
}

input, button {
    padding: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
}

button {
    background-color: #4CAF50; /* Green button */
    color: white; /* White text */
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#predictionResults {
    margin: 20px auto; /* Center align */
    width: 80%; /* 80% width */
    max-width: 600px; /* Maximum width */
    background-color: #fff; /* White background */
    padding: 20px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}